
<html>
<head>
 <link rel="stylesheet" type="text/css" relative='/../../public/css/main.css'>
</head>
<div class="container"
<body>
<h1>ELLOOOO PLAY THESE GAME, THEN INSERT CREDIT CARD AND SS NUMBER.  MANY LUCKS HAVE FOR YOUY!.
</h1>
<br>
<form class="start_form" action='/game' method='post'>
  <input type='text' name='handle1' placeholder='PLAYER 1 NAME'></input>
  <input type='text' name ='handle2' placeholder='PLAYER 2 NAME'></input>
  <input type="submit" value = 'Start'>

</form>
</div>
<body>
  <html>
  
